.logo {
  display:flex;
  justify-content: center;
  margin: 0px 0px 0px 0px;
  }

.botoes {
  background:transparent; 
  border:none; 
  cursor:pointer;
  margin: 5px 50px; 
  color: #ffffff;
  } 

#itens {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  background-color: #000000;
  color: rgb(0, 0, 0);
  text-align:center;
  text-decoration: none;
  padding: 1px 5px;
  border: 3px solid rgb(0, 0, 0);
  flex-wrap: wrap;
  }

.chamado {
  font-family: 'Lucida Sans';
  font-size: 20px;
  border: 3px solid #00C2CC;
  text-align:center; 
  background-color: #00C2CC;
  color: white;
  margin-top: -5px;
  }

  html, body{
    margin: 0;
  }
  
  body{
    text-align: center;
  }
  
  .slider {
    display: block;
    height: 293px;
    width: 600px;
    margin: auto;
    margin-top: 0px;
    position: relative;
}

.slider li {
  list-style: none;
  position: absolute;   
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
}

.slider input {
  display: none;
}

.slider label {
  background-color: rgb(46, 128, 125);
  bottom: 10px;
  cursor: pointer;
  display: block;
  height: 10px;
  position: absolute;
  width: 10px;
  z-index: 10;
}

.slider li:nth-child(1) label {
  left: 10px;
}

.slider li:nth-child(2) label {
  left: 40px;
}

.slider li:nth-child(3) label {
  left: 70px;
}

.slider li:nth-child(4) label {
  left: 100px;
}

.slider img {
  opacity: 0;
  visibility: hidden;
}

.slider li input:checked ~ img {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

footer {
  position: absolute;
  bottom: -10px;
  background-color: #00C2CC;
  color: #FFF;
  width: 100%;
  height: 80px;    
  text-align: center;
  line-height: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
}